@model Price_Configurator.ViewModels.EquipmentGroupViewModel
@{
    ViewBag.Title = "Manage Equipment Groups";
}

<h2 class="text-center">Manage Equipment Groups</h2>

<div class="span12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Add A New Equipment Group</th>
                <th><a href="@Url.Action("AddEquipmentGroup", "Manage")" class="btn btn-primary">Add</a></th>
            </tr>
        </thead>
    </table>
    <br />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Group</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.EquipmentGroups)
            {
                <tr>
                    <td>@role.Description</td>
                    <td><button class="btn-warning btn">Edit</button></td>
                    <td><button class="btn-danger btn">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>@Html.ActionLink("Back to manager.", "Index", "Manage")</p>