@model Price_Configurator.ViewModels.EquipmentTypeViewModel
@{
    ViewBag.Title = "Manage Equipment Types";
}

<h2 class="text-center">Manage Equipment Types</h2>

<div class="span12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Create A New Equipment Type</th>
                <th><button class="btn-primary btn">@Html.ActionLink("Add", "AddEquipmentType", "Manage")</button></th>
            </tr>
        </thead>
    </table>
    <br />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Group</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.EquipmentTypes)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>@role.EquipmentGroupId</td>
                    <td><button class="btn-warning btn">Edit</button></td>
                    <td><button class="btn-danger btn">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>@Html.ActionLink("Back to manager.", "Index", "Manage")</p>