@model Price_Configurator.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Manage Products";
}

<h2 class="text-center">Manage Products</h2>

<div class="span12">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Product</th>
            <th>Model</th>
            <th>Edit</th>
            <th>Remove</th>
            <th><a href="@Url.Action("AddProduct", "Manage")" class="btn btn-primary">Create</a></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model.Products)
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.ProductModel.Name</td>
                <td><button class="btn-warning btn">Edit</button></td>
                <td><button class="btn-danger btn">Remove</button></td>
            </tr>
        }
        </tbody>
    </table>
</div>

<p>@Html.ActionLink("Back to manager.", "Index", "Manage")</p>