@model Price_Configurator.ViewModels.ProductModelViewModel
@{
    ViewBag.Title = "Manage Product Models";
}

<h2 class="text-center">Manage Product Models</h2>

<div class="span12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Add A New Product Model</th>                
                <th><a href="@Url.Action("AddProductModel", "Manage")" class="btn btn-primary">Add</a></th>
            </tr>
        </thead>
    </table>
    <br />
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Model</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.ProductModels)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>@role.ProductCategory.Name</td>
                    <td><button class="btn-warning btn">Edit</button></td>
                    <td><button class="btn-danger btn">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>

</div>

<p>
    @Html.ActionLink("Back to manager.", "Index", "Manage")
</p>