@model Price_Configurator.ViewModels.ProductEquipmentRuleViewModel
@{
    ViewBag.Title = "Manage Product Equipment Rules";
}

<h2 class="text-center">Manage Product Rules</h2>

<div class="span12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Add A New Product Rule</th>
                <th><button class="btn-primary btn">@Html.ActionLink("Add", "AddProductEquipmentRule", "Manage")</button></th>
            </tr>
        </thead>
    </table>
    <br />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Rule</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.CurrentProductEquipmentRules)
            {
                <tr>
                    <td>@role.ProductId</td>
                    <td>@role.EquipmentRuleId</td>
                    <td><button class="btn-warning btn">Edit</button></td>
                    <td><button class="btn-danger btn">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>@Html.ActionLink("Back to manager.", "Index", "Manage")</p>