@model Price_Configurator.ViewModels.ProductCategoryViewModel
@{
    ViewBag.Title = "Manage Product Categories";
}

<h2 class="text-center">Manage Product Categories</h2>

<div class="span12">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Create A New Product Category</th>
                <th><button class="btn-primary btn">@Html.ActionLink("Add", "AddProductCategory", "Manage")</button></th>
            </tr>
        </thead>
    </table>
    <br />
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Category</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.ProductCategories)
            {
                <tr>
                    <td>@role.Name</td>
                    <td><button class="btn-warning btn">Edit</button></td>
                    <td><button class="btn-danger btn">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>

</div>

<p>
    @Html.ActionLink("Back to manager.", "Index", "Manage")
</p>