@model Price_Configurator.ViewModels.ProductCategoryViewModel
@{
    ViewBag.Title = "Manage Product Categories";
}

<h2 class="text-center">Manage Product Categories</h2>

<div class="span12">

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Category</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model.ProductCategories)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <button class="btn-warning btn">Edit</button>
                </td>
                <td>
                    <button class="btn-danger btn">Remove</button>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="text-center">
        <a href="@Url.Action("Index", "Manage")" class="btn btn-default">Back</a>
        <a href="@Url.Action("AddProductCategory", "Manage")" class="btn btn-primary">Create</a>
    </div>
</div>