@model Price_Configurator.ViewModels.RoleViewModel
@{
    ViewBag.Title = "Roles";
}

<h2 class="text-center">Manage User Roles</h2>

<div class="span12">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Add A New Role</th>
            <th><a href="@Url.Action("AddRole", "Manage")" class="btn btn-primary">Add</a></th>
        </tr>
        </thead>
    </table>
    <br/>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Role</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Name</td>
                <td><button class="btn-warning btn">Edit</button></td>
                <td><button class="btn-danger btn">Remove</button></td>
            </tr>
        }
        </tbody>
    </table>
</div>

<p>@Html.ActionLink("Back to manager.", "Index", "Manage")</p>

